<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    </configSections>
    <specFlow>
        <!-- For additional details on SpecFlow configuration options see https://github.com/techtalk/SpecFlow/wiki/Configuration -->
    </specFlow>
    <connectionStrings>
        <clear />
        <add name="YadaTesting" connectionString="Data Source=TEAMHDEJ-LAPTOP\SQLEXPRESS;Initial Catalog=master;Integrated Security=True" />
    </connectionStrings>
</configuration>